---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';

const cookie = Astro.request.headers.get('cookie');
---

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCTQWFQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
	<div style="padding: 25px;">
		<h3>Important Information</h3>
		<p><b>Cookie: </b>{cookie}</p>
		<p><b>Client Address: </b>{Astro.clientAddress}</p>
		<p><b>Generator: </b>{Astro.generator}</p>
		<p><b>Params: </b>{JSON.stringify(Astro.params)}</p>
		<p><b>Props: </b>{JSON.stringify(Astro.props)}</p>
		<p><b>Request: </b>{JSON.stringify(Astro.request)}</p>
		<p><b>Response: </b>{JSON.stringify(Astro.response)}</p>
		<!-- <p><b>Self: </b>{Astro.self}</p> -->
		<p><b>Site: </b>{Astro.site}</p>
		<p><b>Slots: </b>{JSON.stringify(Astro.slots)}</p>
		<p><b>URL: </b>{Astro.url}</p>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
